.form {
    background-color: #fff;
    border-radius: 10px;
    min-width: 430px;
    cursor: default;
    margin: 0 48px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 660px) {
    .form {
        min-width: 282px;
        margin: 0;
    }
}