.profile__btn_action_edit-profile {
    width: 24px;
    height: 24px;
    background-image: url(../../../../images/icon-edit.svg);
    background-repeat: no-repeat;
    background-position: center;
    /* margin-left: auto; */
    /* margin-right: 0; */
}