.profile__container {
    box-sizing: border-box;
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: repeat(2, min-content);
    grid-template-rows: repeat(2, auto);
    row-gap: 16px;
    column-gap: 18px;
}