.popup__container {
    /* width: 478px; */
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* cursor: pointer; */
}

@media screen and (max-width: 660px) {
    .popup__container {
        /* width: 282px; */
    }
}