.popup__container {
    min-width: 478px;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* cursor: pointer; */
}

@media screen and (max-width: 660px) {
    .popup__container {
        min-width: 282px;
        margin: auto 19px;
    }
}