.popup__btn_action_save {
    padding: 12px 14px;
    width: 358px;
    border-radius: 2px;
    background-color: #000;
    border: 2px #000 solid;
    margin: 38px;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    transition: opacity 0.3s;
}

.popup__btn_action_save:hover {
    opacity: 0.8;
}

@media screen and (max-width: 660px) {
    .popup__btn_action_save {
        width: 238px;
        font-size: 14px;
        margin-right: 22px;
        margin-left: 22px;
        margin-bottom: 25px;
    }
}